body {
    font-family: 'Courier New', Courier, monospace;
}
.skip {
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
}
a:focus {
    transform: translateY(0%);
}
.nav-links {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #DADFF7;
}
.nav-item a {
    padding: 30px;
    padding-top: 5px;
    color: black;
    text-decoration: none;
}
.current-nav-item a {
    color: #48339F;
    font-weight: bold;
    text-decoration: underline;
}
/* nav css above */

h1 {
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: xx-large;
    margin-bottom: 10px;
    text-align: center;
}
h2 {
    padding: 20px 50px 20px 50px;
    color: #48339F;
    font-size: 25px;
    font-weight: bold;
}
.band-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.band-link {
    width: 30%;
    margin-left: 10%;
    margin-right: 10%;
    color: #48339F;
    text-align: center;
    text-decoration: none;
    border: 1px solid #48339F;
}
.album-list {
    padding-left: 20%;
}
.album-link {
    width: 20%;
    color: #48339F;
    text-align: center;
    text-decoration: none;
}
p {
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-size: 21px;
}
.band-intro {
    display: none;
}

/* song rec form css below */
.songrec {
    padding: 50px;
    background-color:#DADFF7;
    text-align: center;
}
.songrec legend {
    font-size: x-large;
    padding-bottom: 15px;
    font-weight: bold;
}
.input-div {
    text-align: left;
    font-size: 21px;
    padding: 15px;
}
input {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    background-color: #DADFF7;
}
select {
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 20px 5px 20px;
    border: 1px solid black;
    background-color: #DADFF7;
}
#submit {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
    border: 2px solid black;
    background-color: #DADFF7;
}
/* song rec form css above */

/* image gallery css below */
h3 {
    padding: 20px 50px 20px 50px;
    text-align: center;
    font-size: 21px;
}
.desc {
    background-color: #DADFF7;
    display: none;
}
.under-album {
    display: none;
}
.gallery-indie img {
    width: 100%;
}
.gallery-indie {
    padding-top: 20px;
    padding-bottom: 310%;
    display: grid;
    width: 90%;
    grid-template-columns: 80%;
    column-gap: 5%;
    row-gap: 5%;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.album {
    display: flex;
    flex-direction: column;
}

.gallery-metal div img {
    width: 100%;
}
.gallery-metal div {
    width: 80%;
    display: flex;
    justify-content: center;
    
}
.gallery-metal {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

h4 {
    color: #48339F;
    margin-top: 20%;
    text-align: center;
}

@media only screen and (min-width: 481px) { /*tablets*/
    .band-intro {
        display: block;
    }
    .band-links {
        flex-direction: row;
    }

    .gallery-indie {
        grid-template-columns: 45% 45%;
        padding-bottom: 40%;
    }
    .gallery-metal div {
        width: 45%;
    }
}

@media only screen and (min-width: 1024px) { /*desktops etc*/
    .under-album {
        display: block;
    }
    .gallery-indie {
        grid-template-columns: 30% 30% 30%;
        padding-bottom: 10%;
    }

    .gallery-metal div {
        width: 30%;
    }
}
/* 
Image sources

we have the facts: https://upload.wikimedia.org/wikipedia/en/thumb/1/1d/Death_Cab_For_Cutie-We_Have_the_Facts_and_We%27re_Voting_Yes.jpg/220px-Death_Cab_For_Cutie-We_Have_the_Facts_and_We%27re_Voting_Yes.jpg
airplanes: https://media.pitchfork.com/photos/5929be1dc0084474cd0c2e27/1:1/w_600/a101be9e.jpg
transat: https://upload.wikimedia.org/wikipedia/en/e/e9/Transatlanticism.jpg
plans: https://upload.wikimedia.org/wikipedia/en/b/b6/Death_Cab_For_Cutie_-_Plans.png
narrow stairs: https://upload.wikimedia.org/wikipedia/en/c/c6/Narrow_stairs.jpg
codes and keys: https://upload.wikimedia.org/wikipedia/en/5/5b/Codes_And_Keys_Death_Cab_For_Cutie.jpg
kintsugi: https://upload.wikimedia.org/wikipedia/en/9/94/Death_Cab_For_Cutie_-_Kintsugi.jpg
tyft: https://upload.wikimedia.org/wikipedia/en/thumb/1/15/Tyftdeathcab.jpg/220px-Tyftdeathcab.jpg
asphalt meadows: https://media.pitchfork.com/photos/627b1cf13ad2357aeadc920d/master/w_1280%2Cc_limit/death-cab-for-cutie-asphalt-meadows.jpg
photo: https://upload.wikimedia.org/wikipedia/en/0/0d/DeathCabPhotoAlbum.jpg

creatures: https://upload.wikimedia.org/wikipedia/en/e/e7/Motionless_in_white_creatures.jpg
infamous: https://upload.wikimedia.org/wikipedia/en/d/da/Motionless_in_white_infamous.jpg
reincarnate: https://upload.wikimedia.org/wikipedia/en/e/ea/Motionless_in_white_reincarnate.jpg
graveyard shift: https://upload.wikimedia.org/wikipedia/en/8/88/GraveyardShift.jpg
disguise: https://upload.wikimedia.org/wikipedia/en/b/b1/DisguiseMIWcover.jpg
scoring the end of the world: https://i.scdn.co/image/ab67616d0000b2733528a891d36d16d760cda271

every trick: https://upload.wikimedia.org/wikipedia/en/a/a2/EveryTrickintheBookcover.jpg
silver scream: https://upload.wikimedia.org/wikipedia/en/b/bd/Ice_Nine_Kills_%E2%80%93_The_Silver_Scream.png
horrorwood: https://upload.wikimedia.org/wikipedia/en/e/e9/The_Silver_Scream_2_Welcome_to_Horrorwood_Album_Artwork.jpg
*/